<!DOCTYPE html>
{% extends "base.html"%}
  {% block body_block%}

  <div class="_3OM1ogaI9EXK1udHCHiMUc">
    <div class="container">
      <div class="_3e2PT-m5RDT4EnxcKbgxhh">
        <div class="text-center _3A2lqRgLx1otLuE9r4xG8S"><strong>Chọn danh mục tin đăng</strong></div>
        <div class="_1lX0U8p-l0Amc0Ks2nIZpA">
          <div class="text-right pull-right"></div>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
  <hr>
  <div class="container wXl5RTamVUQpIsQLT-GCD">
    <!-- react-empty: 54 -->
    <form>
      <div>
        <h5 class="">Đã chọn</h5>
        <a href="BDS_step2.html" class="list-group-item"><span>Bất động sản</span></a>
      </div>
      <div>
        <h5>Lựa chọn khác</h5>
        <a href="XeCo_step2.html" class="list-group-item"><span>Xe cộ</span></a>
        <a href="DoDienTu_step2.html" class="list-group-item"><span>Đồ điện tử</span></a>
        <a href="ViecLam_step2.html" class="list-group-item"><span>Việc làm</span></a>
        <a href="ThuCung_step2.html" class="list-group-item"><span>Thú cưng</span></a>
        <a href="DoNoiThat_step2.html" class="list-group-item"><span>Đồ ngoại thất, Đồ gia dụng</span></a>
        <a href="MeVaBe_step2.html" class="list-group-item"><span>Mẹ và bé</span></a>
        <a href="ThoiTrang_step2.html" class="list-group-item"><span>Thời trang, Đồ dùng cá nhân</span></a>
        <a href="GiaiTri_step2.html" class="list-group-item"><span>Giải trí, Thể thao, Sở thích</span></a>
        <a href="DoVanPhong_step2.html" class="list-group-item"><span>Đồ dùng văn phòng, Công nông nghiệp</span></a>
        <a href="DuLich_step2.html" class="list-group-item"><span>Dịch vụ, Du lịch</span></a>
        <a href="Khac_step2.html" class="list-group-item"><span>Các loại khác</span></a>
      </div>
    </form>
  </div>
  {% endblock %}